/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  font-family: "Microsoft JhengHei",sans-serif, serif;
}
*, *::before, *::after {
 box-sizing: border-box;
}
sub {
  vertical-align: sub;
}
.bg-pic{
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}
@media (max-width:992px){
  .bg-pic{
   background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
   background-repeat: no-repeat;
   background-position: 35% 8%;
   background-size: 100%;
  }
}
@media (max-width:375px){
  .bg-pic{
   background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
   background-repeat: no-repeat;
   background-position: 35% 6%;
   background-size: 100%;
  }
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }
  @media (max-width:992px){
    .container{
      max-width:960px;
    }
  }
  @media (max-width:768px){
    .container{
      max-width: 720px;
    } 
  }
  @media (max-width:576px){
    .container{
      max-width: 540px;
    } 
  }
  .nav-item{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.875rem;
    align-items: center;
  }
  .nav-item img{
    width: 218px;
    height: 40px;
  }
  .nav-item .pay-button{
    display: inline-block;
    background:#FF5D50;
    border-radius: 50rem;
    color:white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .banner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .banner-item{
    width: 50%;
  }
  @media (max-width:992px){
    .banner-item{
      width: 100%;
    }
    .hr{
      border:1px solid #FFD153;
      margin-bottom: 2rem;
    }
  }
  @media (max-width:375px){
    .nav-item img{
      width: 130px;
      height: 24px;
    }
  }
  .banner-item h1{
    color:#56C4C5;
    font-weight: bold;
    padding-bottom: 5%;
    font-size: 1.125rem;
  }
  .banner-item p{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 3%;
  }
  .banner-item h2{
    font-size: 1.25rem;
  }
  
  .media-section{
    padding-top: 5%;
  }
  .media-section h3{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 5%;
  }
  .media{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
  }
  .media-item{
    width: 33.3%;
  
  }
  .media-item img{
    width: 100px;
    padding-bottom: 5%;
  }
  .media-item h2{
    font-weight: bold;
    padding-bottom: 10%;
    font-size: 1.5rem;
  }
  .media-item h4{
    color:#747474;
    padding-bottom: 3%;
    font-size: 1rem;
  }
  @media(max-width:375px){
    .banner-item h1{
      font-size: 1rem;
    }
    .banner-item p{
      font-size: 2rem;
    }
    .banner-item h2{
      font-size: 1rem;
      margin-top: 1rem;
    }
    .media-section h3{
      font-size: 1.75rem;
    }
    .media-section h2{
      font-size: 1.125rem;
    }
  }
  @media (max-width:768px) {
    .media-item{
      width: 100%;
    }
    .media-item h2{
      padding-bottom: 1rem;
    }
    .media-item img{
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .media-item h4{
      padding-bottom: 1%;
    }
  }

  @media (max-width:375px){
    .media-item img{
      padding-top: 8%;
    }
  }
  .service-section{
    padding-bottom: 6.25rem;
  }
  .service-section h3{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 6.25%;
  }
  .service-section h4{
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3%;
  }
  .service{
    display: flex;
    flex-wrap: wrap;
    
  }
  .service-item{
    width: 23%;
    margin:0 0.5rem;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 1rem;
    overflow:hidden;
    
  }
  .service-card{
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
    text-align: center;
  }
  .service-item h4{
    color:#56C4C5;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 5%;
  }
  .service-item p{
    padding-bottom: 3%;
  }
  @media (max-width:992px){
    .service{
      width: 50%;
      margin:0 auto;  
    }
    .service-item{
      width: 100%;
      margin-bottom: 3%;
    }
    
  }
  @media (max-width:375px){
    .service{
      width: 80%;
      margin:0 auto;  
      padding-top: 2rem;
    }
    .service-section h3{
      font-size: 1.75rem;
      margin-top: 3.75rem;
    }
    .service-section h4{
      font-size: 1.125rem;
    }
    .service-item{
      margin-bottom: 1.75rem;
    }
  }
  .main-section{
    display: flex;
    
  }
  .main-item{
    width: 50%;
  }
  .main-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-card-li{
    width: 35%;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 1rem;
    overflow:hidden;
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 2.75rem;
    
  }
  .main-card-body{
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .main-card-img{
    width: 50%;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
    padding: 5%;
  }
  .main-card-text{
    padding-top: 24px;
    padding-bottom: 35%;
  }
  .main-card-text h4{
    font-size: 1.125em;
    font-weight: bold;
    padding-bottom: 16px;
  }
  .main-card-text h3{
    font-size: 1rem;
    padding-bottom: 3%;
  }
  .main-content{
    display: flex;
    align-items: center; 
  }
  .main-content-box{
    margin-left: 5rem;
  }
  .main-content-box-h2{
    margin-bottom: 1rem;
  }
  .main-content-box-h4{
    margin-bottom: 1.5rem;
  }
  .main-content h2{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
  }
  .main-content h4{
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
  }
  .main-content a{
    background: #56C4C5;
    padding:0.75rem 2rem ;
    color:white;
    text-decoration: none;
    border-radius: 27px;
  }
  @media (max-width:992px){
    .main-section{
      display: flex;
      flex-direction: column-reverse;
    }
    .main-item{
      width: 100%;
      justify-content: center;
    }
    .main-card{
      margin-top: 5%;
      width: 100%;
      
    }
    .main-card-li{
      width: 50.5%;
      margin-right: 0;
    }
    .main-content-box{
      justify-content: center;
      margin: 0;
    }
    .main-content{
      text-align: center;
    }
  }
  @media (max-width:768px){
    /* .main-card{
      padding-left: 11rem;
      
    } */
  }
  @media(max-width:576px){
    /* .main-card{
      width: 50%;
      padding-left: 8rem;
    } */
  }
  @media(max-width:375px){
    .main-card{
      margin-top: 3rem;
    }
    .main-content h2{
      font-size: 1.75rem;
    }
    .main-content h4{
      font-size: 1rem;
    }
  }
  .section-comment{
    margin-top: 4rem;
    margin-bottom: 6.25rem;
  }
  .section-comment h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .comment-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7.5rem;
  }
  .comment-item{
    width: 30%;
    margin: 1rem;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 0.75rem;
    position: relative;
  }
  .comment-item .comment-img{
    border-radius: 50%;
    position: absolute;
    top:-60px;
    left:32px;
    width: 80px;
  }
  .comment-item p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #DDDDDD;
  }
  .comment-card{
    padding: 2rem;
  }
  .comment-card h3{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .comment-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width:992px){
    .section-comment h2{
      font-size: 1.75rem;
    }
    .comment-item{
      width: 100%;
      margin-bottom: 4rem;
    }
    
  }
  @media (max-width:375px){
    .comment-box{
      margin-top: 4.5rem;
    }
  }
  .footer {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
     background-repeat: no-repeat;
    /* max-width: 100%;  */
    height: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: contain;
  }
  .footer h3{
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    margin-top: 15rem;

    
  }
  .footer a{
    background: #56C4C5;
    padding:0.75rem 2rem ;
    color:white;
    text-decoration: none;
    border-radius: 27px;
    display: inline-block;
    text-align: center;
    width: 136px; 
  }
  .copyright {
    text-align: center;
    background-color: #F5F5F5;
    padding: 1rem 0;
  }
  @media (max-width:767px){
    .footer{
      background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg');

    }
    .footer h3{
      font-size: 1.75rem;
    }
  }
  @media (max-width:375px){
    .footer h3{
      font-size: 1.5rem;
    }
  }

  .pay-bg-pic{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg');
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .pay-banner h2{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 8rem;
  }
  .pay-banner h3{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .pay-content{
    margin-top: 17.5rem;
  }
  .pay-content h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .pay-sub{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
  }
  .pay-sub li{
    margin-right: 1rem;
  }
  .pay-sub li a{
    text-decoration: none;
    font-size: 1.125rem;
    color:#56C4C5;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    padding:0.75rem 2rem;
    margin-right: 1rem;
    display: block;
  }
  .pay-version{
    margin-top: 4.375rem;
    margin-bottom: 6.25rem;
    display: flex;
    flex-wrap: wrap;
  }
  /* .version-item{
    width: 50%;
  } */
  .version-basic{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 0.75rem;
    padding:1rem;
    margin-right: 1rem;
    width: 48%;
  }
  .version-basic h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #F5F5F5;
  }
  .version-p-box{
    margin:2rem 0;
  }
  .version-p-box p{
    text-align: center;
    line-height: 1.5rem;
  }
  .sub-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  }
  .sub-item{
    background: #F5F5F5;
    padding: 1.5rem;
    border-radius: 0.75rem;
  }
  .sub-item h4{
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .sub-item p{
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
  }
  .color-b{
    color: #56C4C5;
  }
  .sub-equal{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .sub-item sub{
    font-size: 0.75rem;
    padding-left: 0.5rem;
  }
  .check-box{
    padding: 1.8rem;
    display: flex;
    justify-content: center;
  }
  .check-box img{
    padding-right: 1rem;
  }
  .check-box li{
    margin-bottom: 1.25rem;
  }
  .button{
    display: flex;
    justify-content: center;
  }
  .button a{
    display: inline-block;
    background:#56C4C5;
    border-radius: 50rem;
    color:white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    font-weight: bold;
    line-height: 1.5;
  }

  @media (max-width:992px){
    .pay-sub{
      overflow: scroll;
      justify-content: flex-start;
    }
    .pay-sub li a{
      padding: 1rem;
      width: 160px;
      text-align: center;
    }
    .version-basic{
      width: 100%;
      margin-bottom: 2rem;
    }
    .sub-box{
      justify-content: center;
    }
  }

  @media (max-width:767px){
    .pay-sub li a{
      padding: 0.75rem 0.75rem;
    }
    .pay-hr{
      border:1px solid #FFD153;
      margin-bottom: 2rem;
      
    }
    .pay-bg-pic{
      background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0% -10%;
    }
  }
  .faq-box h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
  }
  .faq-q{
    padding: 1rem;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .faq-q a{
    text-decoration: none;
    color:#221E1F;
    font-size: 1.125rem;
  }
  @media (max-width:576px){
    /* .check-box ul {
      margin: 0; */
    /* } */
  }
  @media (max-width:375px){
    .pay-bg-pic{
      background-position: 0% 5%;
    }
    .pay-banner h2{
      font-size: 2rem;
      margin-top: 3rem;
    }
    .pay-content h2{
      font-size: 1.75rem;
    }
    .pay-sub li {
      margin-right: 0;
    }
    .pay-sub li a{
      padding:0.5rem 1rem;
      width: 120px;
    }
    .check-box {
      padding: 0.5rem;
    }
    .check-box li{
      line-height: 1.5rem;
    }
    .faq-box h2{
      font-size: 1.75rem;
      margin-bottom: 2rem;
    }
    .pay-version{
      margin-bottom: 3.75rem;
    }
    }